@import '../../styles/variables/colors';

.total {
    width: 100%;
    margin-top: 32px;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_label {
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 1.5rem;
        color: $text;
    }

    &_amount {
        font-family: 'InterBold';
        font-size: 2rem;
        font-weight: 700;
        line-height: 2.5rem;
        color: $purple-gray;
    }
}