.picker {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px #E9EEF2;
    border-radius: 4px;
}

.picker_chevron {
    width: 24px;
    height: 24px;
    margin: 18px 12px;
    cursor: pointer;
}
.picker_chevron:hover {
    background: #F3F5FE
}

.picker_chevron:active {
    background: #E8EAF2;
}

.picker_date {
    display: flex;
    flex-direction: column;
}

.picker_month {
    font-family: 'Rubik';
    font-size: 1rem;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
}

.picker_year {
    font-size: 0.75rem;
    line-height: 16px;
    text-align: center;
}