@font-face {
    font-family: "Rubik";
    src: url("./assets/fonts/Rubik-Regular.ttf") format("truetype");
    font-weight: 400;
  }
  
  @font-face {
    font-family: "RubikMedium";
    src: url("./assets/fonts/Rubik-Medium.ttf") format("truetype");
    font-weight: 400;
  }
  
  @font-face {
    font-family: "WorkSans";
    src: url("./assets//fonts/WorkSans-Regular.ttf") format("truetype");
    font-weight: 400; 
  }
  
  @font-face {
    font-family: "WorkSansMedium";
    src: url("./assets//fonts/WorkSans-Medium.ttf") format("truetype");
    font-weight: 400; 
  }
  
  @font-face {
    font-family: "Inter";
    src: url("./assets//fonts/Inter-Regular.ttf") format("truetype");
    font-weight: 400; 
  }

  @font-face {
    font-family: "InterBold";
    src: url("./assets//fonts/Inter-Bold.ttf") format("truetype");
    font-weight: 400; 
  }