.summary {
    margin-top: 24px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1rem;
    color: #1E2A32;

    text-align: center;
    padding: 24px 16px;
    gap: 8px;

    width: 100%;

    background: #F4F8FA;
    border-radius: 5px;
}