@import '../../styles/variables/colors';

.summary {
    margin-top: 24px;
    font-style: normal;
    font-size: 0.75rem;
    line-height: 1rem;
    color: $text;;

    text-align: center;
    padding: 24px 16px;
    gap: 8px;

    width: 100%;

    background: #F4F8FA;
    border-radius: 5px;
}