@import '../../styles/variables/colors';

.card {
    width: 100%;
    background: $white;

    @media (max-width: 600px) {
        width: 100%;
        height: 100%;
    }
    
    &_container {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 32px 40px;
        @media (max-width: 600px) {
            padding: 32px 24px 50px 24px;
        }
    }
    
    &_content {
        display: flex;
        flex-direction: column;
    }

    &_input_label {
        font-family: 'WorkSansMedium';
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1.125rem;
        padding-bottom: 6px;
    }
    
    &_inputs {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 24px;
    
         @media (max-width: 600px) {
            flex-direction: column;
        }
    }
    
    &_input_group {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        max-width: 248px;
        height: 84px;

        @media (max-width: 600px) {
            max-width: 100%;
        }
    }
}






