@import '../../styles/variables/colors';

.modal {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
    overflow: auto;
    height: auto;

    @media (max-width: 600px) {
        height: 100%;
    }

    &_content {
        width: 600px;
        margin: 0 auto;
        background: $white;
        position: relative;
    }
}


.close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 8px;
    border-radius: 10px;

    @media (min-width: 600px) {
        display: none;
    }

    &:active {
        background: #F2D0C1;
    }
}