@import '../../styles//variables/colors';

.actions {
    display: flex;
    justify-content: center;
    gap: 11px;
    margin-top: 40px;
}

.action {
    padding: 16px 24px 16px 24px;
    border-radius: 5px;
    width: 100%;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.25rem;
    cursor: pointer;
}

.cancel {
    border-color: $purple-gray;
    color: $purple-gray;

    @media (max-width: 600px) {
        display: none;
    }
 }

 .cancel:hover {
    background: rgba(178, 167, 244, 0.1)
 }
 
 .cancel:active {
    background: rgba(178, 167, 244, 0.25)
 }

.continue {
    background: $midnight-purple;
    color: $white;
}

.continue:hover {
    background: #645D93;
}

.continue:active {
    background: #241E47;
}

.continue[disabled] {
    pointer-events: none;
}